/*----------------------------------------------- Colours*/

.nav-link {
    color: #00ccff;
}

#active {
    color: #5F6C7A;
}

.navbar {
    background:#f7ce3e;
   
}


li a:hover {
    color: #f7ce3e;
}

/*--------------------------------------------- General*/

body {font-size: 17px;
    font-family: "arial", sans-serif;
    margin: 0; padding: 0; overflow-x:hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.inline-block {
    display: inline-block;
}







.highlight {color:#D2691E;
    padding:0;
    margin:0;
}




    



/*--------------------------------------------- Nav bar*/

nav ul {
    
    display: block;
    font-size: 23px;
    font-weight: 700;
    
    
    
  
}

    .nav-item {
        margin-left: 40px;
        position:relative;
    }

.logo {
    position: static;
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-right:0px;
    padding-top: 10px;
    padding-left: 10px;
    min-height: 100px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    height: 10%;
    width: 25%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #e84610;
    padding: 15px 15px;
   
}

nav select {
    display: none;
    background-color: #77C9D4;
    color: white;
    border: 1px solid #778899;
   position: relative;
   cursor: pointer;
   top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
    
}

#select {color: #f7ce3e; 
    background-color: #5F6C7A;
}


.nav-link 
{color: #0A1612;
text-align: center;
padding: 8px;
    margin-right: 0;
    display: block;  
   
    font-size:33;
    font-weight: 500;
    padding-left: 5px;
      transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    max-width:100%;

}
/*-------------------------Social links*/
nav a {color:#5F6C7A;}

nav a:hover {
    color: white;
}

/*-------------------------------------------Section*/

/*-------------------------Section Image*/

.main-image {max-width:100%;
    height:100%;
    padding-left:0;
    padding-right:0;
    position: relative;
    transform: translate(-5%, +10%);
    margin: 0;
  
}
 


.image-text { 
   position: absolute; 
   top: 250px; 
   left: 70%; 
   width: 100%; 
   color:#21EB7B;
   font-family: "Dancing Script"; 
   font-size: 48px; 
   font-variant: normal; 
   font-weight: 700; 
   line-height: 26.4px;
   text-shadow: 2px 2px 2px #000;
    transform: translate(-50%, -50%);
 }


/*------------------Index.html*/

/*------------------https://mycolor.space/gradient?ori=to+right+top&hex=%2395ABAA&hex2=%23F6F6F5&sub=1*/
 .section {background-image: linear-gradient(to right top, #95abaa, #aebdb8, #c8d0ca, #e0e2de, #f6f6f5);
  text-align: center;
  max-width:100%;
  overflow:hidden;
 }

.section-heading {color: #D2691E;
            text-align: center;
            margin-top:100px;
}

.section-p {padding:12px;
margin:10px;
    padding-bottom: 50px;
;
color: #708090;
text-align: center;
 max-width:100%;
    
}

.section-p-about {padding:15px;
    text-align: center;
     width:75%; 
}



.free-link {text-align: center;
    font-weight: 700;
    background-color: #5F6C7A;
    font:white;
    padding:15px;
    margin:15px;
    border-radius:15px;
      
  bottom: 5px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
  position: relative;
   left: 50%;
   
     transform: translate(-50%,-50%);
    
    
}

.section-link {color:white;
 width:120px;

   
}


.section a:hover {color:#f7ce3e; 
text-decoration:none;
  
}

/*------------------About.html*/


/* With help from https://www.w3schools.com/css/tryit.asp?filename=trycss_transparency*/

div.transbox {
  margin: 50px;
  border-radius: 4px;
  background-color: black;
  border: none;
  opacity: 0.6;
  filter: alpha(opacity=60); 
  padding: 10px;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #F5F4F4;
}

.box-heading {font-weight:700;
color:#87D63E;}


/*------------------personal-training.html*/

.col-md-10 {transform: translate(+5%,0);}

.transbox-testimony {height:400px;
    transform: translate(+8%,0);
}

.testimony {transform: translate(+12%, +12%);}

/*------------------group-trainig.html*/


.timetable-link {
min-width:120px;

  position: relative;
margin-left:350px;
margin-top: 50px;
}
/*------------------get-in-touch.html*/


  .row {
  display: flex;
}

.column {
  flex: 50%;
}

.main-image-contact {transform: translate(-5%,0%);}

.box-heading {padding-top:20px;}

.btn {
  
  color: black;
  font-weight:700;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  background-color:#f7ce3e;
 width:50%;
}

.btn:hover {
  opacity: 1;
  background-color:#B0E0E6 ;
}

.center-form {opacity:1;
   }




/*--------------------------------------------- footer*/

#button {
  text-align: center;
  display: inline-block;
  background-color: #f7ce3e;
  width: 50px;

  border-radius: 4px;
  bottom: 10px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
  position: relative;
   left: 50%;
   
     transform: translate(-50%,-50%);


}


#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

.footer-link 
{color: white;
text-align: right;
  
    float: none;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-top:10px;
    font-size:33;
    font-weight: 500;
    padding-left: 5px;
      transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

footer a {color:white;}

 footer  a:hover {
    color: #f7ce3e;
}

.text-footer {float: left; 
padding-bottom: 5px; 
text-align: left;

}

#footer { min-height: 120px;

    margin: 0;
    padding: 15px;
    max-width:100%;}



/*------------- Responsive design*/

/* Extra small devices (phones, 600px and down) */
    

@media only screen and (max-width: 600px) {

/*------------------------------------- Changing the menu to a select bar for smaller screens*/
  
    nav select {
        display: inline-block;
        width: 55%;
        height: 25%;
          border-radius: 4px; 
        position: left;
    }
    .nav-item {
        display: none;
    }
    .logo {
        position: right;
        height: 80%;
    }
     .column {
    width: 100%;
  }
  
  .navbar {position: relative;}
  
}






/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {
    

    .logo {
        position: right;
        height: 80%;
    }
     .column {
    width: 100%;
    height:100%;
  }
  
  .navbar {position: relative;}
  
   .main-image img {display:none;}
  
  .image-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60%);}




iframe {display:none;
  
}

.timetable-link {margin-left:50px;
margin-top: 50px;}

section img {display:none;}

    
}

@media only screen and (min-width: 600px) {
 
.mobile-only {display:none;}
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
.section-p-about {  transform: translate(25%, 0);}

.mobile-only {display:none;}
}



@media only screen and (max-width: 768px) {

.mobile-only {display:none;}
    
}



/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

.mobile-only {display:none;}
}



/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
 
 .mobile-only {display:none;} 
}

